<div class="section">

  <h1 class="title">Bienvenidos a DCCinema</h1>

  <div class="columns">
  
    <div class="column">
      <h2 class="subtitle">Horario de funciones:</h2>
      <%= image_tag("horarios.png", :alt => "rss feed", :size => '500x180') %>
      <h2 class="subtitle">Distribución de salas:</h2>
      <%= image_tag("salas.png", :alt => "rss feed", :size => '800x180') %>
    </div>

    <div class="column">
      <%= image_tag("logo.png", :alt => "rss feed", :size => '500x180') %>
    </div>

  </div>

</div>
